fastapi==0.104.0
uvicorn
pydantic_settings
pydantic
databases
redis
asyncio_redis
python-dotenv
alembic
SQLAlchemy
psycopg2
fastapi-pagination
pydantic[email]
passlib
bcrypt
fastapi_users
jose
fastapi.security